<mat-dialog-content class="vacation-form-container">
  <h2>Request Vacation</h2>
  <form [formGroup]="vacationRequestForm" (ngSubmit)="submitForm()">
    <mat-form-field appearance="fill">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Superior</mat-label>
      <input matInput formControlName="superior">
    </mat-form-field>

    <!-- Display Calculated Vacation Days -->
    <div>
      <p>Vacation Days: {{calculateVacationDays()}}</p>
    </div>

    <div class="actions">
      <button mat-button [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>
</mat-dialog-content>