/* You can add global styles to this file, and also import other style files */
@import 'custom-theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    max-width: 400px;
    padding: 20px;
  }
  